.AppBar{
    width: 100%;
    padding:0px 20px;
    min-width: 80;
    background-color: #8EA7E9;
}
.containGrid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.grid{
    display: flex;
    align-items: center;
}
